@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEEEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  html {
    font-family: Nunito, sans-serif;
  }
}

@layer components {
  .btn-submit {
    @apply bg-submit text-white font-bold py-2 px-4 rounded focus:bg-submit-hover hover:bg-submit-hover;
  }
  .btn-edit {
    @apply bg-edit text-white font-bold py-2 px-4 rounded focus:bg-edit-hover hover:bg-edit-hover;
  }
}
