@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .contact__card {
        @apply bg-gray-300 text-white font-semibold rounded-lg shadow-md flex;
        @apply mx-10 mb-5 py-2 px-4;
        @apply hover:bg-gray-100 text-black;
    }
}



.contacts__form {
    display: flex;
    flex-direction: column;
}


.contacts__form__input,
.contacts__form__label {
    margin: 6px;
}

.contacts__form__input {
    border: 1px solid;
}

.contacts__form__submit {
    border: 1px solid;
}

.contacts__form__submit:hover {
    cursor: pointer;
}